@media screen and (max-width: 880px) {
    .icons {
        position: absolute;
        right: 20vw;
        overflow: hidden;
    }
    .contact-container {
        position: relative;
        left: 40px;
        bottom: -300px;
    }
}

@media screen and (max-width: 710px) {
    .contact {
        visibility: hidden;
    }
}

@media screen and (max-width: 720px) {
    #my-img img {
        height: 150px;
    }
}

@media screen and (max-width: 880px) {}